body{
    background: hsl(47, 88%, 63%);
}
.container{
    width: 20%;
    height: 440px;
    margin-top: 100px;
    margin-left: 41%;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.picture img{
    width: 100%;
    border-radius: 12px;
}
.highlight h4{
    background: hsl(47, 88%, 63%);
    border-radius: 5px;
    text-align: center;
    width: 40%;
    height: 21px;
}
.sub p{
   font-size: 16px;
}
.profile{
    margin-top: -10px;
}
.profile img{
    height: 35px;
    margin-top: 18px;
    border-radius: 50%;
}
.profile h3{
    margin-top: -30px;
    margin-left: 55px;
    font-weight: bold;
}

